@font-face
{
    font-family: "Mulish";
    src: url("../fonts/Mulish-VariableFontWeight.woff2") format(woff2);
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.screen-reader-text
{
    height: 0;
    width: 0;
    margin: -1px;
    overflow: hidden;
    position: absolute;
}

body
{
    min-width: 400px;
    max-width: 1170px;
    margin: 0 auto 0 auto;
    font-family: 'Mulish';
}

h1
{
    font-size: 32px;
}

.result-header span
{
    padding-left: 10px;
    font-size: 22px;
}

h1, .result-link, .sidebar a, .price, .pager-n, .signup-section a
{
    font-family: 'Open Sans';
    font-stretch: condensed;
}

header
{
    position: relative;
    height: 100px;
}

img
{
    max-height: 100%;
    max-width: 100%;
}

.header-button
{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

nav
{
    position: relative;
    height: 40px;
}

nav, .category
{
    background-color: #EAEBE9;
}

nav ul
{
    height: 100%;
    padding-left: 10px;
    position: absolute;
    list-style-type: none;
    top: 50%;
    transform: translateY(-50%);
}

nav li
{
    padding-left: 20px;
    display: inline-block;
}

nav a
{
    display: inline-block;
    line-height: 40px;
    font-weight: bold;
}

nav a, .sidebar a
{
    font-size: 22px;
}

header
{
    background-color: #F3702A;
}

nav a:hover, nav a:active, nav a:focus,
.sidebar a, .sidebar a:hover::after, .sidebar a:focus::after, .sidebar a:active::after,
.orange,
.result-link,
.footer-phone
{
    color: #F3702A;
}

.result-header
{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    font-weight: normal;
}

.page
{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#main, h1, .category
{
    margin: 20px 50px 20px 50px;
}

.category
{
    padding-left: 10px;
    line-height: 30px;
}

.pen-result
{
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #736D75;
    display: grid;
    grid-template-columns: 0.8fr 2fr 1fr;
}

.big-result
{
    display: grid;
    overflow: hidden;
    border-radius: 10px;
    grid-template-columns: 1.1fr 2fr 1.1fr;
    height: auto;
    border: none;
}

.pen-result:not(:last-child)
{
    margin-bottom: 30px;
}

.result-image
{
    margin: 15px;
    position: relative;
}

.result-image img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.result-price
{
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    color: white;
    background-color: #736D75;
}

.big-result .result-price
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.big-result .result-action
{
    display: grid;
    text-align: right;
    grid-template-columns: 3fr 1fr;
    line-height: 60px;
}

.pen-result .result-cart
{
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.pen-result .price
{
    position: absolute;
    top: 5%;
    right: 5%;
}

.price
{
    margin: 5px;
    font-size: 60px;
    font-weight: bold;
}

.big-result .price::after
{
    content: "Unit";
    padding-left: 10px;
    color: white;
    font-size: 16px;
    font-family: Mulish;
    font-weight: normal;
}

.sidebar
{
    margin-right: 20px;
}

.sidebar li
{
    position: relative;
    list-style-type: none;
    border-bottom: 1px dotted black;
}

.sidebar li:first-child
{
    border-top: 1px dotted black;
}

.sidebar a::after
{
    position: absolute;
    right: 5%;
    content: "\271A";
    font-size: inherit;
    font-weight: inherit;
}

.sidebar a
{
    display: block;
    line-height: 40px;
    padding-left: 5px;
    font-weight: bold;
}

.pager
{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pager a
{
    line-height: 50px;
    display: block;
}

.pager-n
{
    width: 60px;
    font-size: 18px;
    font-weight: bold;
}

.sidebar a:focus, .sidebar a:hover, .sidebar a:active,
.result-link:focus, .result-link:hover, .result-link:active,
.footer-phone:focus, .footer-phone:hover, .footer-phone:active,
.pager-n,
nav a
{
    color: black;
}

.result-body
{
    margin: 10px 5px 10px 5px;
}

.result-link
{
    font-weight: bold;
    font-size: 23px;
    display: block;
}

.result-features, .result-body p:not(:first-child)
{
    margin: 10px auto 10px auto;
}

.result-body p:first-child
{
    font-size: 20px;
}

.result-features
{
    list-style-type: none;
}

.result-features li::before
{
    content: "\00B7";
    padding-right: 5px;
}

table
{
    border-collapse: collapse;
    table-layout: fixed;
    border: 2px solid #EAEBE9;
    margin: 50px;
}

thead
{
    border: 2px solid #EAEBE9;
    background-color: #EAEBE9;
}

th
{
    text-align: left;
    padding: 5px;
}

td
{
    vertical-align: top;
    padding: 5px 5px 5px 10px;
    width: 25%;
}

td:not(:last-child)
{
    border-right: 1px dashed black;
}

tr:not(:last-child)
{
    border-bottom: 1px dashed black;
}

.signup-section
{
    height: 250px;
    position: relative;
    color: white;
    font-weight: bold;
}

.signup-section::before
{
    content: "";
    width: 100%;
    background-image: url(../img/Black-Twist-Pen-on-Notebook-pexels-mohammad-danish.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-position: bottom;
    position: absolute;
    filter: contrast(50%) brightness(60%);
    height: 250px;
}

.signup-section p
{
    font-size: 30px;
    position: relative;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.signup-section a
{
    color: white;
    font-size: 18px;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    border-radius: 5px;
    background-color: #F3702A;
}

.signup-section a:hover, .signup-section a:active
{
    background-color: #EAEBE9;
    color: black;
}

.signup-section a:focus
{
    color: white;
    background-color: black;
}

.footer-contact
{
    width: 60%;
    margin: 30px auto 30px auto;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 0 2fr;
    gap: 10px;
}

.footer-social, .footer-info, .footer-contact img
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-info
{
    padding-left: 20px;
}

.footer-title
{
    font-weight: bold;
}

.footer-phone
{
    font-size: 23px;
}

.vl
{
    height: 100%;
    border-left: 1px solid #EAEBE9;
}

.hl
{
    margin-top: 20px;
    border-top: 1px dotted white;
}

.footer-social
{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-social li
{
    display: inline-block;
}

.footer-policy
{
    background-color: #272F2E;
    height: 60px;
    display: flex;
    justify-content: center;
}

.footer-policy li
{
    text-align: center;
    height: 100%;
    display: inline-block;
}

.footer-policy li:not(:first-child) a:before
{
    content: "\2219";
    padding-right: 30px;
    color: white;
}

.footer-policy a
{
    line-height: 60px;
    display: block;
    color: white;
}

.footer-policy li:not(:last-child) a
{
    padding-right: 30px;
}

.footer-policy a:hover, .footer-policy a:active, .footer-policy a:focus,
.pager-n:focus, .pager-n:hover, .pager-n:active,
.sidebar a::after
{
    color: #736D75;
}

a:hover, a:focus, a:active
{
    outline: none;
    background-position-y: -60px;
}

a
{
    text-decoration: none;
}

.header-button-login, .header-button-about, .header-button-cart,
.pager-prev, .pager-next, .result-cart, .result-heart,
.footer-facebook, .footer-linkedin, .footer-twitter, .footer-instagram
{
    display: inline-block;
    background-image: url(../img/sprite.png);
    height: 60px;
    width: 60px;
    background-size: 660px;
    background-repeat: no-repeat;
}

.footer-facebook
{
    background-position: 0 0;
}

.footer-linkedin
{
    background-position: -60px 0;
}

.footer-twitter
{
    background-position: -120px 0;
}

.footer-instagram
{
    background-position: -180px 0;
}

.header-button-login
{
    background-position: -240px 0;
}

.header-button-about
{
    background-position: -300px 0;
}

.header-button-cart
{
    background-position: -360px 0;
}

.result-cart
{
    background-position: -420px 0;
}

.result-heart
{
    background-position: -480px 0;
}

.pager-prev
{
    background-position: -540px 0;
}

.pager-next
{
    background-position: -600px 0;
}
